<?xml version="1.0" encoding="UTF-8"?>

<!--
https://howtodoinjava.com/log4j2/multiple-appenders/
https://www.baeldung.com/log4j2-appenders-layouts-filters
https://stackoverflow.com/questions/53673727/log4j-define-multiple-loggers
-->

<Configuration status="WARN" packages="io.github.vqnxiv.taquin.logger">

    <Properties>
        <Property name="LIGHT_PATTERN">
            %d{HH:mm:ss} %m%n
        </Property>
        
        <Property name="COMPLETE_PATTERN">
            %d{HH:mm:ss.SSS} [%p] %t - %C: %m%n
        </Property>
    </Properties>
    
    <Appenders>
        <!--
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        -->
        
        <AppAppender name="AppLog">
            <PatternLayout pattern="${LIGHT_PATTERN}"/>
        </AppAppender>
    </Appenders>
    
    <Loggers>
        <Root level="INFO">
            <!--
            <AppenderRef ref="Console"/>
            -->
            <AppenderRef ref="AppLog"/>
        </Root>
    </Loggers>
    
</Configuration>