<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" packages="io.github.vqnxiv.taquin.logger">

    <Properties>
        <Property name="LIGHT_PATTERN">
            %d{HH:mm}  %m%n
        </Property>
        
        <Property name="COMPLETE_PATTERN">
            %d{HH:mm:ss.SSS} [%p] %t - %c: %m%n
        </Property>
        
        <Property name="SEARCH_PATTERN">
            %n
        </Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${COMPLETE_PATTERN}"/>
        </Console>
        
        <AppAppender name="AppLog">
            <PatternLayout pattern="${LIGHT_PATTERN}"/>
        </AppAppender>
        
        <SearchAppender name="SearchLog">
            <PatternLayout pattern="${SEARCH_PATTERN}"/>
        </SearchAppender>
    </Appenders>
    
    <Loggers>
        <Logger name="searchLogger" level="INFO" additivity="false">
            <AppenderRef ref="SearchLog"/>
        </Logger>
        
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppLog"/>
        </Root>
    </Loggers>
    
</Configuration>